.slider-area > img {
  height: 100vh;
  width: 100%;
}

.slider__bg--1 {
  background: rgba(0, 0, 0, 0) url("../../images/slider/bg/1.jpg") no-repeat scroll 0 0 / cover;
}

.slider__bg--2 {
  background: rgba(0, 0, 0, 0) url("../../images/slider/bg/2.jpg") no-repeat scroll 0 0 / cover;
}

/*-----------------------------------------
  Background variation Content
-------------------------------------------*/

.slider__fixed--height {
  height: 830px;
}

.slide__align--center {
  align-items: center;
  display: flex;
}

.slider__inner {
  position: relative;
  z-index: 2;
  text-align: center;
}

.slider__inner h4 {
  color: #fdfdfd;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
}

.slider__inner h1 {
  color: #fdfdfd;
  font-size: 66px;
  font-weight: 800;
  line-height: 55px;
  margin-top: 24px;
}

.slider__inner p {
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  margin: 23px auto;
  width: 57%;
}

.slider__btn {
  margin-top: 40px;
}

.htc__btn {
  background: #fcc236;
  color: #fff;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  padding: 0 25px;
  transition: all 0.5s ease;
  border: 1px solid #fcc236;
  text-decoration: none;
}

.htc__btn:hover {
  border: 1px solid #fcc236;
  background: transparent;
  color: #fcc236;
}

.htc__slider__fornt__img {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/*----------------------
  Animation
-------------------------*/
.slider__activation__wrap {
  position: relative;
}

.slider__activation__wrap .owl-nav div {
  height: 54px;
  left: 0;
  line-height: 54px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
}

.slider__activation__wrap .owl-nav div.owl-next {
  left: auto;
  right: 0;
}

.slider__activation__wrap .owl-nav div i {
  color: #fff;
  font-size: 30px;
}

.slider__activation__wrap.owl-theme .owl-nav [class*="owl-"] {
  background: #1f2d30;
  transition: all 0.5s ease;
  border-radius: 0;
  margin: 0;
}

.slider__activation__wrap.owl-theme .owl-nav [class*="owl-"]:hover {
  background: rgba(184, 144, 37, 0.6);
}

.slider__activation__wrap.owl-theme .owl-nav {
  margin-top: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
  .slider__fixed--height {
    height: 500px;
  }
  
  .slider__inner h1 {
    font-size: 40px;
    line-height: 45px;
  }
  
  .slider__inner h4 {
    font-size: 24px;
  }
  
  .slider__inner p {
    width: 90%;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 480px) {
  .slider__fixed--height {
    height: 400px;
  }
  
  .slider__inner h1 {
    font-size: 32px;
    line-height: 38px;
    margin-top: 15px;
  }
  
  .slider__inner h4 {
    font-size: 20px;
  }
  
  .htc__btn {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
  }
}
